#mineheader {
    position: relative;
    top: -10px;
    background-color: #aa52f2;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
	height: 40px;
}

#minefooter {
	position: relative;
	top: -32px;
    background-color: #aa52f2;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	height: 40px;
}

h1 {
    font-family: 'Atomic Age', cursive;
    color: #FFFFFF;
    text-align: center;
}

#minewrapper {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    position: relative;
    top: -10px;
    padding-top: 20px;
    padding-left: 20px;
	padding-bottom: 20px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.8em;
}
